<div class="all_cards">
    <section class="cards">
        <div class="top">
            <h1>Annual Play Budget</h1>
            <div class="top_button">
                <p>This Year</p>
                <img src="assets/Shape.svg" alt="">

            </div>
        </div>
        <p>Summary</p>

        <div class="progress_bar">
            <circle-progress
                [percent]="36"
                [radius]="100"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#1B5BAC'"
                [innerStrokeColor]="'#E2EDF8'"
                [animation]="true"
                [animationDuration]="300"
                >
            </circle-progress>
        </div>

        <div class="bottom">
            <div class="bottom_content">
                <div>
                    <p>Total Play (NGN)</p>
                    <h3>50,000,000</h3>
                </div>
                <div>
                    <p>Total Spent</p>
                    <h3>Balance</h3>

                </div>
                
            </div>
            <div class="bottom_content">
                <div>
                    <p>Total Spent (NGN)</p>
                    <h3>18,000,000</h3>
                </div>
                <div>
                    <p>Balance (NGN)</p>
                    <h3>32,000,000</h3>

                </div>
                
            </div>
            

        </div>
    </section>

    <section class="cards" id='card2'>
        <div class="top">
            <h1>Annual Work Budget</h1>
            <div class="top_button">
                <p>This Year</p>
                <img src="assets/Shape.svg" alt="">

            </div>
        </div>
        <p>Summary</p>

        <div class="progress_bar">
            <circle-progress
                [percent]="36"
                [radius]="100"
                
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#1B5BAC;'"
                [innerStrokeColor]="'#1B5BAC;'"
                [animation]="true"
                [animationDuration]="300"
                >
            </circle-progress>
        </div>

        <div class="bottom">
            <div class="bottom_content">
                <div>
                    <p>Total Work (NGN)</p>
                    <h3>20,000,000</h3>
                </div>
                <div>
                    <p>Total Spent</p>
                    <h3>Balance</h3>

                </div>
                
            </div>
            <div class="bottom_content">
                <div>
                    <p>Total Spent (NGN)</p>
                    <h3>10,000,000</h3>
                </div>
                <div>
                    <p>Balance (NGN)</p>
                    <h3>10,000,000</h3>

                </div>
                
            </div>
            

        </div>
    </section>

    <section class="cards" id='card3'>
        <div class="top">
            <h1>Carda Count</h1>
            <!-- <div class="top_button">
                <p>This Year</p>
                <img src="assets/Shape.svg" alt="">

            </div> -->
        </div>
        <p>Summary</p>

        <div class="progress_bar">
            <circle-progress
                [percent]="36"
                [radius]="100"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#1B5BAC'"
                [innerStrokeColor]="'#E2EDF8'"
                [animation]="true"
                [animationDuration]="300"
                >
            </circle-progress>
        </div>

        <div class="bottom">
            <div class="bottom_content">
                <div>
                    <p>Total Cards </p>
                    <h3>392,383</h3>
                </div>
                <div>
                    <p>In-use</p>
                    <h3>In-active</h3>

                </div>
                
            </div>
            <div class="bottom_content">
                <div>
                    <p>Cards in-use</p>
                    <h3>342,383</h3>
                </div>
                <div>
                    <p>In-active</p>
                    <h3>50,000</h3>

                </div>
                
            </div>
            

        </div>
    </section>

</div>