.all_cards{
    display: flex;
    justify-content: space-between;
}

.cards{
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 472px;
    margin-top: 2em;
    padding: 2em 1em;
    background: #FFFFFF;
    border-radius: 10px;
    margin-right: 1em;
    align-items: center;
}

.cards .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cards .top h1{
    
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */

    letter-spacing: 0.09625px;

    color: #19304D;
    }

.cards .top .top_button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(184, 193, 209, 0.26);
    border-radius: 5px;
    padding: 0.5em;
    width: 95px;
    height: 30px;
}

.cards .bottom{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 157px;
    background: #FBFCFE;
    border-radius: 10px;
    padding: 0.5em 1em;
    /* align-items: center; */
    /* justify-content: center; */
} 

.cards .bottom .bottom_content{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
   
}

.cards .bottom .bottom_content p{
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
    
    letter-spacing: 0.09625px;
    
    color: #19304D;
}
.cards .bottom .bottom_content h3{
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */
    
    letter-spacing: 0.09625px;
    
    color: #19304D;
}

/* card2 */

#card2 .bottom{
    display: flex;
    flex-direction: column;
    width: 317px;
    height: 157px;
    background: #FFF7F5;
    border-radius: 10px;
    padding: 0.5em 1em;
    /* align-items: center; */
    /* justify-content: center; */
} 

/* card3 */
#cards .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #0F9CDA
    ;
}

#cards .top h1{
    
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */

    letter-spacing: 0.09625px;

    color: #19304D;
    }