<div class="boxes">

   <section class="box_section">
       <h3> Dashboard</h3>

       <div class="main_box">
           <img class='x_image' src="assets/x.svg" alt="">
            <h1> WELCOME BACK CHIDINMA.</h1>

            <p>See overview of analytics and reporting metrics and a lot more interesting stuffs you can do here.</p>

            <button> Take A Tour </button>
            <img class="box1_image" src="assets/box1_image.svg" alt="">
        </div>

   </section>

   <section class="box_section" id='box_section'>
        <div class='top_section'>
            <div class="images"> 
                <img src="" alt="">
                <h3>Customize Dashboard</h3>
            </div>
            <!-- <img src="" alt=""> -->
            <h3> Mon, Jun 22, 2020 </h3>
        </div>

       <div class="main_box" id="second_box">
           


            <h1> OPTIMIZED APPLICATION PROCESSING</h1>

            <p>We’ve optimized the system to process your application as fast as possible. Click on the button below to get started.</p>

            <button> New Request </button>
            <img class="box2_image" src="assets/box2_image.svg" alt="">
        </div>

   </section>

</div>
