<div class="header">

    <div class="icon">
        <img src="assets/menu_more.svg" alt="menu_more">
    </div>

    <div class="notifications">
        <div class="notification-box">
            <img src="assets/notification.svg" alt="">

            <div class="text">
                <h3> Notifications Center</h3>
                <p> You have <span> 2 </span> unread notifications.</p>
            </div>

            <div class="orange-box">
                <h3> 2 </h3>

            </div>
        </div>

        <div class="notification-box">
            
            <img src="assets/contact.svg" alt="">

            <div class="text">
                <h3> Chidinma Nwanya</h3>
                <p> Vanity By Juls.</p>
            </div>
            <div class="blue-box">
                <img src="assets/power.svg" alt="">
                <p>Log out</p>

            </div>
        </div>

    </div>
</div>
