<div class='sidebar'>

    <div class="header">
        <img src="/assets/Group 12.svg" alt="logo">
        <p> Express Lands</p>

    </div>

    <section class="section">

        <div class="links">
            <div class="menu" id="active">
                <img src="/assets/dashboard.svg" alt="">
                <p> Dashboard</p>
            </div>
            <div class="menu">
                <img src="/assets/benefit.svg" alt="">
                <p> Menu item 1</p>
            </div>
            <div class="menu">
                <img src="/assets/users.svg" alt="">
                <p> Menu item 2</p>
            </div>
            <div class="menu">
                <img src="/assets/icon.svg" alt="">
                <p> Menu item 3</p>
            </div>
            <div class="menu">
                <img src="/assets/settings.svg" alt="">
                <p> Menu item 4</p>
            </div>
            <div class="menu">
                <img src="/assets/todo.svg" alt="">
                <p> Menu item 5</p>
            </div>

        </div>

        <div class="bottom">
            <img src="/assets/manage.svg" alt="">
            <p> Manage Users</p>
        </div>
    </section>   
</div>
